body {
    background-color: lightblue;
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    font-size: 15px;
    color: rgb(122, 20, 20);
    font-style: italic;
}
header h1 {
    background-color: rgb(91, 91, 184);

}
main H1 {
    background-color: rgb(69, 176, 90);
    font-style: italic;
}
main  P {
    background-color: rgb(240, 240, 240);
    padding: 10px;
    border-radius: 5px;
}
.darker {
    color: rgb(56, 56, 56);
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
}
.palu {
    color: rgb(0, 51, 102);
    font-weight: bold;
    font-size: 18px;
}

.moga {
    color: rgb(149, 149, 236);
    font-weight: bold;
    font-size: 18px;
}   
.dark {
    color: rgb(215, 67, 146);
    font-weight: bold;
    font-size: 18px;
}
.darker {
    color: rgb(149, 12, 180);
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
}
h1 {
    text-align: center;
    font-style: italic;
}