body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f9fafb;
  color: #222;
}

header, nav, footer {
  text-align: center;
  background-color: #2dd0c0d0;
  padding: 15px;
  color: #143c87;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #0f2b8f;
  font-weight: bold;
}

footer {
  font-size: 1em;
}

.flex-container {
  display: flex;
  flex-direction: row-reverse;
  padding: 20px;
}

.sidebar {
  flex: 1;
  background-color: #61c0c9;
  padding: 20px;
  border-radius: 8px;
  margin-left: 20px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}


.content {
  flex: 3;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

caption {
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
  font-size: 1.2em;
  color: #444;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

thead {
  background-color: #7588c9;
}

tbody tr:nth-child(even) {
  background-color: #82b8f0;
}
tbody tr:nth-child(odd) {
  background-color: #b4cde0;
}