body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f0f8ff;
  margin: 0;
  padding: 0;
}

header, footer {
  background-color: #004080;
  color: white;
  text-align: center;
  padding: 1em 0;
}

header h1 {
  font-size: 2em;
 
}

footer p {
  font-size: 0.9em;
}

main {
  display: flex;
  justify-content: center;
  padding: 20px;
  
}

form {
  background-color: rgb(230, 224, 224);
  border-radius: 20px;
  padding: 150px 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 650px;
  background-image: url("bike.jpg");
  background-size: cover;        
  background-position: center;  
  height: 600px;                 
  color: rgb(75, 5, 214);         
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

}

fieldset {
  border: 2px solid #004080;
  border-radius: 10px;
  padding: 20px;
}

legend {
  font-weight: bold;
  font-size: 1.2em;
  color: #004080;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

label {
  flex: 1;
  font-weight: bold;
}

input, select, textarea {
  flex: 2;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

.radio-group label, .checkbox-group label {
  flex: none;
  margin-right: 15px;
  font-weight: normal;
}

button {
  background-color: #004080;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1em;
}


button:hover {
  background-color: #0066cc;
}

@media (max-width: 600px) {
  .form-group {
    flex-direction: column;
    align-items: flex-start;
  }

  label {
    margin-bottom: 5px;
  }

  form {
    width: 90%;
  }

  button {
    width: 100%;
    font-size: 1.2em;
    padding: 15px;
  }
}