body{
    font-family: Arial, Helvetica, sans-serif;
}
.Schedule {
    border-spacing: 0;
    border-collapse: collapse; 
    border-top: thin solid black;

}
.Schedule thead{
    background-color: blue;

}
.Schedule tfoot{
    background-color: blue;

}
.Schedule tbody tr:nth-child(odd) {
    background-color: bisque;
}

.num{
    vertical-align: middle;
}