body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
header{
    background-color: #4CAF50;
    color: rgb(219, 15, 15);
}
.sidebar h3 {
   margin: 0;
}
main h2{
    margin: 0;
}
header h1{
    margin: 0;
}
article{
    font-family: 'Times New Roman', Times, serif;
}
nav a{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
    background-color: #4CAF50;
}
nav a:hover{
    background-color: #eef6ef;
    color: blue;
}
.main-row{
    display: flex;
}
.sidebar{
    width: 200px;

}
.card{
    width: 300px;
    border: thin solid rgb(186, 45, 45);
    margin: 5px;
    box-shadow:3px 3px 5px rgb(119, 24, 24);
}
.card img{
    width: 100%;
  
}
.row{
    display: flex;
    flex-wrap: wrap;
}
